<form [ngFormModel]="form" (ngSubmit)="signup()">
    <div class="form-group">
        <label for="username">Username</label>
        <input
            ngControl="username"
            #username="ngForm"
            id="username"
            type="text"
            class="form-control">
        <div
          *ngIf="!username.valid"
          class="alert alert-danger">Username is required</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
            ngControl="password"
            #password="ngForm"
            id="password"
            type="text"
            class="form-control">
        <div
          *ngIf="!password.valid"
          class="alert alert-danger">Password is required</div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
